{% extends "base.html" %}

{% block title %}
{{ category | capitalize }}
{% endblock %}

{% block content %}

<h1>{{ category | capitalize }}</h1>

<div class="product-grid">

    {% for product in products %}
    <a class="product-card" href="/product/{{ product.id }}">
        <img src="/static/product_images/{{ product.image }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>£{{ "%.2f"|format(product.price) }}</p>

        {% if product.colors %}
        <div class="color-dots">
            {% for c in product.colors %}
            <span class="color-dot {{ c }}"></span>
            {% endfor %}
        </div>
        {% endif %}
    </a>
    {% endfor %}

</div>

{% endblock %}
